@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Parece que la página que estás buscando no existe. Comprueba la URL </title>
</head>
<body>   
    <img src="~/Content/img/404.jpg" alt="Page Not Found (404)." style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: -190px;">
</body>

</html>